* {
  margin: 0;
  padding: 0;
}
header {
  background-color: #44ccff;
  height: auto;
  display: flex;
  flex-direction: colomn;
  flex-wrap: wrap;
  padding: 0 20px;
}
header logo {
  letter-spacing: 15px;
  font-size: 20pt;
  color: fuchsia;
  padding: 10px;
  flex: 1;
  text-transform: uppercase;
}
header logo span {
  color: #ff2b00;
}
header ul {
  list-style: none;
  display: flex;
  padding: 10px;
  flex: 1;
  justify-content: space-between;
}
header ul li {
  font-size: 17pt;
  color: #990099;
  text-transform: uppercase;
  border-left: 1px solid #990099;
  padding: 0 20px;
}
.promohead {
  background-color: #003144;
  width: 100%;
  color: #ff8000;
  text-align: center;
  height: 40px;
  padding: 5px;
}
main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: top;
  justify-content: space-around;
}
main article {
  margin: 20px;
  border: 1px solid black;
  min-width: 300px;
  flex: 1;
  text-align: center;
}
main article p {
  padding: 10px;
  text-align: justify;
}
main article img {
  width: 300px;
  padding: 10px;
}
main article .picture {
  margin:20px auto;
  width: 80%;
  height: 300px;
  padding: 10px;
  box-shadow: -1px -1px 4px 4px #aa88ad;
  background-image: url('../images/robot2.jpg');
  background-size: cover;
  background-position: center center;
  background-clip: border-box;
  position: relative;
}
main article .picture div {
  width: 50px;
  height: 50px;
  z-index: 20;
  position: absolute;
  font-size:35px;
  font-weight: bold;
  left: 0;
  bottom: 0;
  background-color: #df7645;
  color: #fff;
  
}
main article .newsstat {
  color: #fff;
  background-color:#ae76ae;
  padding: 10px;
  border-top: 1px dashed #990099;
}
main article .newsstat span {
  padding-left: 6px;
}
footer {
  background-color: black;
  color: #990099;
  text-align: center;
  height: 50px;
  padding: 20px;
}
@media (max-width: 594px) {
  header {
    flex-direction: column;
  }
  header logo {
    border-bottom: 1px solid #990099;
  }
  header ul {
    flex-direction: column;
  }
  header ul li {
    border-left: none;
    font-size: 16pt;
    padding: 0 7px;
  }
}
@media (max-width: 304px) {
  main article  {
  	 min-width: 260px;
   
  }
  header ul {
    padding:3px;  
  }	
}
@media (max-width: 912px) {
  header ul li {
    font-size: 13pt;
    padding: 0 8px;
  }
}  
@media (max-width: 836px) {
  header logo {
    text-align: center;
  }
}  