- var items = ['Главная','Наука','Технологии','Программирование','Тесты']
html
  head 
    title Pug project
    meta(charset='UTF-8')
    
  body
    header
      logo IT
        span NEWS
      ul
        each item in items
          li=item
    .promohead This is my work. New version 1.2.0. 
    main 
      each index in [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21]
        article 
          .picture
            div=index
          p Здесь должна быть новость вашего портала.Здесь должна быть новость вашего портала.Здесь должна быть новость вашего портала.Здесь должна быть новость вашего портала.
          .newsstat
            span просмотров 200
            span мне нравится 25
            span коментариев 2
    footer  Это портфолио Ивана Иванова (Шавлюги) Использую flexbox и LESS
